# Local database storage
data/

# Local secrets / API keys
.env
.env.*

# Binaries
*.exe
*.test
bin/

# Fabric local dynamic files
network/crypto-config/
network/channel-artifacts/
network/system-genesis-block/
*.block
*.tar.gz
